<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  	<!-- font-awesome -->
	<link rel="stylesheet" href="../static/fontawesome/css/all.css">
  	<link rel="stylesheet" href="../static/css/welcome.css">

	<title>List</title>
</head>
<body>
	<div class="container-fluid">
		<div class="header">
			<div class="row">
				<div class="col-md-3 ">
					<div class="logo"> Thue.vn</div>
				</div>
				<div class="col-md-3 ">
					
				</div>
				<div class="col-md-3 search">
					<form action="" method="POST" class="form-inline" role="form">
					
						<div class="form-group">
							<input type="text" class="form-control" id="" placeholder="Search">
							<button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
						</div>	
					</form>
				</div>
				<div class="col-md-3">
					<div class="account">
						<h4>Trần Quang Minh</h3>
						<h5>Administrator</h5>
						<a href=""><i class="fas fa-sign-out-alt">Logout</i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="menu-contentpage">
			<div class="row">
				<div class="col-md-3 menu">
					<ul class="list-group">
						<li class="list-group-item"><a href="">
							<h6><i class="fas fa-door-open"></i>Dashboard</h6>
						</a>
					</li>
						<li class="list-group-item">
							<h6><i class="fas fa-users"></i>Person</h6>
						<ul class="list-group">
							<li class="list-group-item"><a href="">Add Person</a></li>
							<li class="list-group-item"><a href="">Edit Person</a></li>
							<li class="list-group-item"><a href="">List Person</a></li>
						</ul>
					</li>
						<li class="list-group-item">
							<h6><i class="fas fa-user"></i>Đối tượng thu thuế</h6>
						<ul class="list-group">
							<li class="list-group-item"><a href="">Add</a></li>
							<li class="list-group-item"><a href="">Edit</a></li>
							<li class="list-group-item"><a href="">List</a></li>
						</ul>
					</li>
					<li class="list-group-item">
							<h6><i class="fas fa-minus"></i>Khoản giảm trừ</h6>
						<ul class="list-group">
							<li class="list-group-item"><a href="">List</a></li>
						</ul>
					</li>
					<li class="list-group-item">
							<h6><i class="fas fa-slash"></i>Khoản miễn thuế</h6>
						<ul class="list-group">
							<li class="list-group-item"><a href="">List</a></li>
						</ul>
					</li>
					<li class="list-group-item">
							<h6><i class="fas fa-percent"></i>Thuế suất</h6>
						<ul class="list-group">
							<li class="list-group-item"><a href="">List</a></li>
						</ul>
					</li>
					<li class="list-group-item">
							<h6><i class="fas fa-list"></i>Thuế thu nhập cá nhân</h6>
						<ul class="list-group">
							<li class="list-group-item"><a href="">List</a></li>
						</ul>
					</li>
					</ul>					
				</div>
				<div class="col-md-9 content">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h3>Dashboard</h3>
						</div>
					</div>

					<div class="row text-center">
						<div class=" col-lg-6 col-lg-push-3 add">
							<form action="" method="POST" role="form">
							
								<div class="form-group content-form">
									<label for="">Username:</label>
									<input type="text" class="form-control" id="" placeholder="Username">
								</div>
								<div class="form-group content-form">
									<label for="">Password:</label>
									<input type="password" class="form-control" id="" placeholder="Password">
								</div>
						
								<button type="submit" class="btn btn-primary">Add</button>
							</form>
				
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="footer">Design by team <a href="">LapTrinhWeb</a></div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</body>
</html>